.primary-btn{
    background-color: #289BDE;
    color: white;
    
}
.carousel-item{
    background-image: url(/images/cover/cover-3.jpg);
}
.section-bg-color{
    background-color: rgba(0, 0, 0, 0.5);
}
.about-sec-bg{
    background-color: #F4FAFD;
}
